<h1 mat-dialog-title>Dreimonatsregel</h1>

<div mat-dialog-content class="dialog-body-tabelle-mit-text">
  <span>Regeln für Mitarbeiter:in {{ this.data.mitarbeiter | mitarbeiterAnzeigeNameKurzform }}</span>
  <div class="border">
    <section class="dialog-table">
      <table (matSortChange)="tabelle.onSortEvent()" [dataSource]="tabelle.dataSource" mat-table matMultiSort>
        <ng-container matColumnDef="kundeBezeichnung">
          <th *matHeaderCellDef mat-header-cell mat-multi-sort-header="kundeBezeichnung">Kunde</th>
          <td *matCellDef="let element" mat-cell>{{ element.kundeBezeichnung }}</td>
        </ng-container>

        <ng-container matColumnDef="arbeitsstaette">
          <th *matHeaderCellDef mat-header-cell mat-multi-sort-header="arbeitsstaette">Einsatzort</th>
          <td *matCellDef="let element" mat-cell>{{ element.arbeitsstaette }}</td>
        </ng-container>

        <ng-container matColumnDef="gueltigVon">
          <th *matHeaderCellDef mat-header-cell mat-multi-sort-header="gueltigVon">Gültig Von</th>
          <td *matCellDef="let element" mat-cell>{{ element.gueltigVon | date : 'dd.MM.yyyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="gueltigBis">
          <th *matHeaderCellDef mat-header-cell mat-multi-sort-header="gueltigBis">Gültig Bis</th>
          <td *matCellDef="let element" mat-cell>{{ element.gueltigBis | date : 'dd.MM.yyyy' }}</td>
        </ng-container>

        <tr *matHeaderRowDef="tabelle.displayedColumns; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let row; columns: tabelle.displayedColumns" mat-row></tr>
      </table>
    </section>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button [mat-dialog-close]="false" color="basic" mat-stroked-button>
    <mat-icon>cancel</mat-icon>
    Schließen
  </button>
</div>
