.grid-areas-pab-auslagen-form-columns {
  display: grid;
  grid-template-columns: 19.5% 19.5% 20% 20% 9%;
  grid-gap: 3%;
  grid-template-areas:
    'Abrechnungsmonat       Projekt       Mitarbeiter       Kostenart       Button'
    'Belegart               Betrag        Bemerkung         Bemerkung       .';
}
