<mat-toolbar color="secondary">
  <div>
    <button (click)="navigiereZu('/arbeitsnachweis/bearbeiten')" mat-button>
      <mat-icon>add</mat-icon>
      <span>Arbeitsnachweis</span>
    </button>

    <button (click)="navigiereZu('/arbeitsnachweis')" mat-button>
      <mat-icon>view_list</mat-icon>
      <span>Arbeitsnachweisübersicht</span>
    </button>

    <button (click)="navigiereZu('/projektabrechnung/bearbeiten')" mat-button>
      <mat-icon>add</mat-icon>
      <span>Projektabrechnung</span>
    </button>

    <button (click)="navigiereZu('/projektabrechnung')" mat-button>
      <mat-icon>view_list</mat-icon>
      <span>Projektabrechnungsübersicht</span>
    </button>
  </div>
</mat-toolbar>
